html {
    height: 100%;
}

.headerDiv {
    height: 10vh;
}
H2 {
    margin-top: 2vh;
    margin-left: 1vw;
    float: left;
}
.importButton {
    width: 10%;
    height: 3vw;
    float: right;
    margin: 5px;
}

.reloadButton {
    width: 5%;
    height: 3vw;
    float: right;
    margin: 5px;
    border-radius: 20px;
}

.leftSide {
    float: left;
    width: 15vw;
    height: 85vh;
    margin-left: 1vw;
}

.layouts {
    height: 20vh;
    border: 1px solid grey;
    overflow-y: auto;
    text-align: center;
}

#addLayout, #removeLayout {
    width: 75%;
    padding: 3px;
    margin: 5px;
}

.metrics {
    margin-top: 1vh;
    border: 1px solid grey;
    height: 63vh;
}

#graphs {
    width: 80vw;
    height: 72vh;
    margin-left: 17vw;
}

.dropdown {
    z-index: 10;
    width: 100%;
    margin: 0 -1px;
}

.infoFilters {
    width: 80vw;
    height: 4vh;
    margin-left: 17vw;
    margin-top: -1vh;
}

.infoFiltersText {
    margin: 2vh;
    text-align: center;
}

.filters {
    width: 80vw;
    height: 8vh;
    margin-left: 17vw;
    margin-top: -1vh;
    border: 1px solid grey;
    /* margin: 1vh, 1vw, 1vh, 21vw; */
}

.filterButton {
    float: left;
    width: 6vh;
    height: 6vh;
    margin : 1vh;
    border-radius: 5px;
}

#imageNeigColor {
    width : 150%;
    margin-left: -25%;
}