html {
    height: 100%;
}

.headerDiv {
    height: 10vh;
}
H2 {
    margin-top: 2vh;
    margin-left: 1vw;
    float: left;
}
.importButton {
    width: 10%;
    height: 3vw;
    float: right;
    margin: 5px;
}

.reloadButton {
    width: 5%;
    height: 3vw;
    float: right;
    margin: 5px;
    border-radius: 20px;
}

.leftSide {
    float: left;
    width: 15vw;
    height: 85vh;
    margin-left: 1vw;
}

.layouts {
    height: 20vh;
    border: 1px solid grey;
    overflow-y: auto;
    text-align: center;
}

#addLayout, #removeLayout {
    width: 75%;
    padding: 3px;
    margin: 5px;
}

.metrics {
    margin-top: 1vh;
    border: 1px solid grey;
    height: 63vh;
}

#graphs {
    width: 65vw;
    height: 72vh;
    margin-left: 17vw;
}

#dataInformation {
    width: 15vw;
    height: 72vh;
    margin-left: 82vw;
    margin-top: -72vh;
    border: 1px solid grey;
    overflow: scroll;
}

#dataInformationText {
    /* white-space: pre-line; */
    display: block;
    white-space: pre-wrap;
}

tr, td, th {
    border: 1px solid gray;
    padding: 1vh;
}

table {
    border-collapse: collapse;
}

.dropdown {
    z-index: 10;
    width: 100%;
    margin: 0 -1px;
}

.filters .Select-control, #graphs .Select-control {
    width:inherit !important;
}

.infoFilters {
    width: 80vw;
    height: 4vh;
    margin-left: 17vw;
    margin-top: -1vh;
}

.infoFiltersText {
    margin: 2vh;
    text-align: center;
}

.filters {
    width: 80vw;
    height: 8vh;
    margin-left: 17vw;
    margin-top: -1vh;
    border: 1px solid grey;
    /* margin: 1vh, 1vw, 1vh, 21vw; */
}

.nodeColor, .edgeColor {
    border: 2px dotted grey;
    width: 40vh;
    height: 7vh;
    float: left;
    margin: -0.5vh 1vh 0;
}

.filterButton {
    float: left;
    width: 6vh;
    height: 6vh;
    margin : 1vh;
    border-radius: 5px;
    margin-top: 0.5vh;
}

.filterDropdown {
    float: left;
    width: 30vh;
    height: 6vh;
    margin : 1vh;
    border-radius: 5px;
    margin-top: 0.5vh;
}

#imageNeigColor, #imageClassColor, #imageEdgeColor {
    width : 150%;
    margin-left: -25%;
}